html{
    font-size: 22px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(7, 7, 7, 0.78);
    &::before{
        position: absolute;
        content:'';
        background-color: rgb(13, 9, 36);
        height: 100vh;
        width: 100vw;
        bottom: 0px;
        z-index: -1;
        transition: 1s;
    }

    #progress-indicator{
        font-size: 24px;//using "em", so i can use it again later in the graph part
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20rem;
        height: 20rem;

    .circle-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18.18em;
        height: 18.18em;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        overflow: hidden;

        .semicircle{
            z-index: 8;
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 1s linear;
            transform-origin: right center;

            &:nth-child(1){
                background-color: rgb(0, 105, 0);
                z-index: 2;
            }
            &:nth-child(2){
                z-index: 3;
                background-color: rgb(0, 105, 0);
            }
            &:nth-child(3){
                z-index: 4;
                background-color: rgb(255, 255, 255);
              //  display: none;
            
            }
        }
        .outermost-circle{
            width: 17em;
            height: 17em;
            background-color: rgba(9, 22, 36, 0.97);
            border-radius: 50%;
            z-index: 5;
        }
    }

    // .circle-container:hover {///vira, vira test

    //     .semicircle:nth-child(1)  {
    //         transform: rotate(180deg);  
    //          transition: 3s linear;
    //          background-color: rgb(0, 255, 0);
    //     }

    //     .semicircle:nth-child(2)  {
    //         transform: rotate(360deg);
    //          transition: 6s linear;
    //          background-color:rgb(0, 255, 0);
    //     }

    //     .semicircle:nth-child(3)  {
    //         opacity: 0;
    //         transition: opacity 0s 3s;
    //     }
    // }
}
    div.timer{
        border-radius: 20%;
        //display: none;
        z-index: 6;
        justify-content: center;
        align-items: center;
        height: 11rem;
        width: 14rem;
        background-color: rgba(0, 0, 0, 0.9);
        color: rgb(233, 233, 233);

        .jk{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 90%;

            div.holder{
                display: flex;
                font-size: 2.5rem;
                input, select, textarea{
                    color: rgb(75, 84, 214);
                   // color: rgb(211, 73, 73);
                }
                input{
                    background-color: transparent;
                    border: none;
                    font-size: 2.5rem;
                    width: 2.812rem;
                    outline: none;
                }
            }
            div.button{
                display: flex;
                justify-content: space-around;
                width: 15rem;
                
                .button{
                    border-radius: 7px;
                    border: none;
                    color: white;
                    height: 1.7rem;
                    opacity: 0.9;
                    cursor: pointer;

                    &:hover{
                        opacity: 1;
                   }
                }                
                #start{
                    background-color: rgb(57, 177, 57);
                    width: 7rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                #reset{
                    background-color: rgb(206, 51, 51);
                    width: 4.7rem;
                    display: none;
                    justify-content: center;
                    align-items: center;
                }
                #pause{
                    background-color: rgb(30, 30, 241);
                    width: 4.7rem;
                    display: none;
                    justify-content: center;
                    align-items: center;

                }
            }
        }
    }
}