#littleTimer {
  min-width: 180px;
  min-height: 70px;
  position: relative;
  border-radius: 20px;
  align-items: space-between;
  font-size: 2.5px;
  width: 180px;
  height: 70px;
  margin-bottom: 80px;
  box-shadow: 0 0 0.27em rgb(37, 255, 37), 0 0 2.38em rgb(46, 184, 46);
}
#littleTimer .jk {
  width: 180px;
  height: 70px;
  margin: right 0em;
}
#littleTimer .jk .holder {
  display: flex;
  left: 9px;
  position: absolute;
  font-size: 5em;
}
#littleTimer .jk .holder #hour {
  display: none;
}
#littleTimer .jk .holder #second {
  display: none;
}
#littleTimer .jk .holder .colon {
  display: none;
}
#littleTimer div.button {
  position: absolute;
  justify-content: space-around;
  width: 43em;
  left: 25em;
}
#littleTimer div.button .button {
  border-radius: 7px;
  border: none;
  color: white;
  height: 3em;
  opacity: 0.9;
  cursor: pointer;
}
#littleTimer div.button .button:hover {
  opacity: 1;
}
#littleTimer div.button #start {
  width: 20em;
}
#littleTimer div.button #reset {
  display: none;
  justify-content: center;
  align-items: center;
}
#littleTimer div.button #pause {
  display: none;
  justify-content: center;
  align-items: center;
}
#littleTimer .progressIndicator {
  left: 10px;
}

html {
  font-size: 22px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body::before {
  position: absolute;
  content: "";
  background-color: rgb(14, 0, 40);
  height: 100vh;
  width: 100vw;
  bottom: 0px;
  z-index: -1;
  transition: 1s;
}
body .timer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgb(14, 0, 40);
  font-size: 18px;
  color: rgb(233, 233, 233);
  transition: 0.3s linear;
}
body .timer .jk {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.27em rgb(14, 0, 65), 0 0 1.38em rgb(14, 0, 65);
  position: absolute;
  border-radius: 40px;
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 12em;
}
body .timer .jk div.holder {
  display: flex;
}
body .timer .jk div.holder .colon {
  font-size: 2.5em;
}
body .timer .jk div.holder input, body .timer .jk div.holder select, body .timer .jk div.holder textarea {
  color: white;
  text-shadow: 0 0 9px rgb(68, 0, 255);
  font-size: 2.7em;
}
body .timer .jk div.holder input {
  background-color: transparent;
  border: none;
  width: 1.1em;
  outline: none;
}
body .timer .jk div.holder input::-moz-placeholder {
  color: rgb(255, 255, 255);
}
body .timer .jk div.holder input::placeholder {
  color: rgb(255, 255, 255);
}
body .timer .jk div.button {
  display: flex;
  justify-content: space-around;
  width: 15em;
}
body .timer .jk div.button .button {
  border-radius: 7px;
  border: none;
  color: white;
  height: 3em;
  opacity: 0.9;
  cursor: pointer;
}
body .timer .jk div.button .button:hover {
  opacity: 1;
}
body .timer .jk div.button #start {
  background-color: rgb(26, 110, 26);
  box-shadow: 0 0 0.27em rgb(37, 255, 37), 0 0 1.38em rgb(46, 184, 46);
  width: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .timer .jk div.button #reset {
  background-color: rgb(110, 26, 26);
  box-shadow: 0 0 0.27em rgb(255, 37, 37), 0 0 1.38em rgb(184, 46, 46);
  width: 8em;
  display: none;
  justify-content: center;
  align-items: center;
}
body .timer .jk div.button #pause {
  background-color: rgb(26, 26, 110);
  box-shadow: 0 0 0.27em rgb(37, 37, 255), 0 0 1.38em rgb(48, 46, 184);
  width: 8em;
  display: none;
  justify-content: center;
  align-items: center;
}
body .timer .progressIndicator {
  font-size: 1.5em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
}
body .timer .progressIndicator .circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.15em;
  height: 15.15em;
  background-color: white;
  box-shadow: 0 0 1.38em rgb(46, 184, 46);
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
}
body .timer .progressIndicator .circle-container .semicircle {
  z-index: 8;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s linear;
  transform-origin: right center;
}
body .timer .progressIndicator .circle-container .semicircle:nth-child(1) {
  background-color: rgb(26, 110, 26);
  z-index: 2;
}
body .timer .progressIndicator .circle-container .semicircle:nth-child(2) {
  z-index: 3;
  background-color: rgb(26, 110, 26);
}
body .timer .progressIndicator .circle-container .semicircle:nth-child(3) {
  z-index: 4;
  background-color: rgb(255, 255, 255);
}
body .timer .progressIndicator .circle-container .outermost-circle {
  width: 14em;
  height: 14em;
  background-color: rgb(14, 0, 40);
  border-radius: 50%;
  z-index: 5;
}/*# sourceMappingURL=style.css.map */