@import "./variables";









.project-page-container{
    display: none;
    overflow: scroll;
    width: 100%;
    height: 100%;
    &:nth-child(1){
        margin-top: 2em;
    }

    &:focus {
        outline: none;
    }

    &.active{
        @include flex(center, column);
    }
}




    .project-page-header-header{
        @include flex(center, row, space-between);
        width: 100%;
        background: $sidebarBg;
        opacity: .97;
        
        h2{
            margin: .2em 1em .2em 1em;                    
        }
        button{
            @include flex(1.1em, 1.1em);
            padding: 0;
            background: none;
            margin: .3em .3em 0em 0em;
            font-size: 1em;
            appearance: none;
            outline: inherit;
            cursor: pointer;
            border: none;
            color: $defaultBtutton;
            transition: ease-in-out .15s;
            &:hover{
                color: #E85656;
            }
        }
    }




    .project-page-info-header{
        display: flex;
        background-color: $violetDark;
        width: 100%;
        height: 5em;
        min-width: 465px;
        padding: .5em;
        z-index: 1;

        .project-page-header-tempo-task{
            margin: auto 0 auto 0;
            @include size(2em, 2.5em);
            

            >span{
                color: #816A94;
                cursor: pointer;
                font-size: .6em;
                &.selected{
                color: #AA2335;
                }
            }
        }

        .project-page-header-tempo-container, .project-page-header-tasks-container{
            display: flex;
            justify-content: space-around;
            width: 100%;
            &.hide{
                display: none;
            }
            .div-span{
                @include flex(center, column, center);
                @include size(5em, 3em);
                font-size: larger;
                color: #AA2335;
                box-shadow: $boxShadowViolet800;
                min-width: 4em;
                border-radius: 20px;
                .text{
                    font-size: .5em;
                    color: #816A94;
                }
                .span-container{
                    display: flex;
                }
            }
        }
    }



            form#project-page-add-task {
                @include flex(initial, column);
                padding: 1em;
                gap: 1em;
                width: 100%;
                background-color: $violetDark;
                margin: 0 auto .5em auto;
                position: relative;   

                header.project-page-header {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    min-width: 100px;
                    gap: .5em;
    
                    >input{
                        display: flex;
                        border-radius: 5px;
                        height: 2em;
                        width: 100%;
                        padding: .2em .5em;
                        border-radius: 0.3rem;
                        appearance: none;
                        border: solid 2px $inputTextBorder;
                        background-color: $inputBg;
                        color: $inputColor;
                        &:focus {
                            outline: none;
                        }
                        &:hover{
                            background-color: $inputTextBgHover;
                        }
                    }
    
                    >label{
                        @include flex( center, row, center);
                        @include size(1.4em, 1.4em);
                        font-size: 1rem;
                        border-radius: 0.5em;
                        color: #fff;
                        box-shadow: $blueShadow;
                        cursor: pointer;
                        transition: 0.2s ease-in-out;
                        color: $defaultBtutton;
                        span{
                            @include flex( center, row, center);
                            @include size(1.4em, 1.4em);
                        }
                        &:hover{
                            background-color: $inputTextBgHover;
                        }
                        input {
                            display: none;
                        }
                        button{
                            display: none;
                        }
                    }
                }

                .form-tasks-options{
                    @include flex(initial, row, space-between);
                    @include size(93%, 6em);
                    padding: .5em;
                    position: absolute;
                    top: 3.5em;
                    border-radius: 10px;
                    background-color: $sidebarBg;
                    z-index: 1;
                    opacity: .93;

                    &.close{
                        display: none;
                    }
                }
        }


        .form-task-stacks{
            display: flex;
            gap: 1em;
            flex-wrap: wrap;
            @include size(9em, 5em);

            label{
                display: flex;
                @include size(1em, 1em);
                cursor: pointer;
                >img{
                    @include size(1em, 1em);
                }
                input[type="checkbox"]{

                    &:checked ~ .icon{
                        filter: grayscale(0%);
                }
                }
                >.icon{
                    filter: grayscale(100%);
                }
            }
        }











        .task-header{
            @include flex(initial, row, space-between);
            width: 97%;
            gap: 1em;
            flex-shrink: 1;
            font-size: .6em;
            margin: auto;
            :nth-child(1){
                display: flex;
                width: 35%;
                margin-left: .7em;
            }
            :nth-child(2){
                display: flex;
                width: 24%;
            }
            :nth-child(3){
                display: flex;
                width: 10em;
                margin-right: .5em;
            }
        }


        div.project-page-tasks-container {
            @include flex(center, column);
            @include size(100%, 100%);
            overflow: scroll;
            &:nth-child(1){
                margin-top: 2em;
            }
        }

            .task {
                position: relative;
                @include flex(center);
                border-radius: 20px;
                width: 99%;
                gap: .5em;
                height: 2.5em;
                margin: .5em 0 .5em 0;
                font-size: .636em;
                flex-shrink: 0;
                transition: ease-in-out .03s;

                &:hover {
                    color: $projecColortHover;
                    background-color: $hover;
            }
}




.task__checkbox {
    @include flex(center, row, center);
    position: relative;


    label {
    @include flex(center);
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;

    &::before,
    &::after {
        content: "";
        position: absolute;
    }

    &::before {
        height: 2px;
        width: 8px;
        top: 0em;
        left: -18px;
        background: red;
        border-radius: 2px;
        transition: background 0.3s ease;
    }

    &::after {

        height: 4px;
        width: 4px;
        top: 0px;
        left: -18px;
        border-radius: 50%;
    }
    }

    input.task__checkbox-input[type="checkbox"] {
    appearance: none;
    position: relative;
    @include flex(center);
    @include size(2em, 2em);
    outline: none;
    border: 0;

    margin: 0 0px 0 10px ;
    cursor: pointer;               
    &::before,
    &::after {
        content: "";
        position: absolute;
        height: 2px;
        border-radius: 2px;
        background-color: rgb(43, 255, 0);
    }

    &::before {
        right: 60%;
        transform-origin: right bottom;
    }

    &::after {
        width: 0px;
        left: 40%;
        transform-origin: left bottom;
    }

    &:checked {
        &::before {
        animation: check-01 0.4s ease forwards;
        }

        &::after {
        animation: check-02 0.4s ease forwards;
        }

        + label::before {
        background: green;
        animation: slice 0.4s ease forwards;
        }  
        + label::after {
        animation: firework 0.5s ease forwards 0.1s;
        }
    }
    }
}



















.task__clock{//the rest is on the timer.scss
    @include flex(center, row, flex-start);
    margin-right: 1em;

    label{
        @include size(1.5em, 1.5em);
        display: flex;
    }
}






.task__title {
    @include flex(center);
    @include size(45%, 100%);
    min-width: 7em;
    margin-right:6em ;
    flex-shrink: 1;
}

.task__spent-hours{
    width:35%;
    flex-shrink: 1;
}

.task__stacks{
    display: flex;
    width: 10em;
    margin-right: .5em;
    gap: .3em;
    flex-shrink: 0;
}



label.task__edit-label{
    right: .625rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    span{
        @include flex(center);
        @include size(1.4em, 1.4em);
    }
}






.task__pop-up{
    &--active{
        display: block;
    }
    display: none;

    position: absolute;
    z-index: 1;
    border-radius: 7px;                    
    height: 3.5em;
    width: 4.5em;
    right: 1.3em;
    bottom: -3.2em;
    background-color: #463465;

    ul{
        @include flex(center, column, space-between);
        height: 100%;
        list-style: none;
        li{
            margin-left: .7em;
            width: 80%;
            margin: auto 0px;
            
            font-size: 1.3em;
            label{

            span{
                cursor: pointer;
                color: #A59CAF;
                font-size: .8em;
                margin: auto 0px;
                font-family: 'Ubuntu', sans-serif;

            }
            }             
        }
    }
}