.sidebar--clock{
    display: none;
    justify-content: flex-end;
    gap: .7em;
    align-items: center;
    width: 80%;
    height: 90%;
    

    .clock--display {
        display: flex;
        color: #17D4FE;
        font-size: 1.7em;
        font-family: Orbitron;
        letter-spacing: 7px;
    }




    label{
        width: 1.5em;
        height: 1.5em;
        display: flex;
        justify-content: flex-end;

        button{
            display: none;
        }
        &.resetButtonLabel{
            display: none;
        }


    }
}




.button {
    @include size(24px, 24px);
    @include flex(center, row, center);
    border: 1px solid #1e90ff;

    &--play {
        border-radius: 50%;
        height: 100%;
    }
    &--play & {//refers to both the button and button--play; the last & keeps button scope as if there was no --play
        &__shape {
            width: .37em;
            height: 1em;
            background: rgb(255, 255, 255);
            transition: .3s ease-in-out;

            &--one {
                @include clip-path(polygon(0 0, 100% 25%, 100% 75%, 0% 100%));
                transform: translateX(2px);
            }

            &--two {
                @include clip-path(polygon(0 25%, 100% 50%, 100% 50%, 0 75%));
                transform: translateX(1.8px);
            }
        }
    }
    
    &--active & {//button and button--active
        &__shape {

            &--one {
                @include clip-path(polygon(0 15%, 50% 15%, 50% 85%, 0% 85%));
                transform: translateX(2px)
            }
            
            &--two {
                @include clip-path(polygon(50% 15%, 100% 15%, 100% 85%, 50% 85%));
                transform: translateX(-1px)
            }
        }
    }
}