@import "./variables";
@import "./projects";
@import "./ProjectDisplay";
@import "./sidebar";
@import "./timer";


*,
html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 22px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}
input[type="checkbox"], [type="radio"]{
    display: none;
}



button{
display: none;
}